html, body{
	height:100%;
	margin:0;
	padding:0;
	background:#ECF0F1;
}
header{
	position:relative;
	display:block;
	height:15%;
	background:grey;
	border:1em outset darkgrey;
	top:1%;
	vertical-align:middle;
	text-align:center;
}
.title{
margin-top:3%;
}
section{
	height:82%;
	background:lightblue;
	border:1em dotted grey;
	margin-top:1%;
	margin-bottom:0.5%;
}
.col-xs-{
	position:relative;
	display:inline-block;
/*	height:100%;*/
	text-align:center;
	font-size:4em;	
/*	border:1px solid black;*/
	color:white;

/*	vertical-align: middle;*/
}
.intro{
	display:block;
	padding-top:3%;
}
.howTitle, .instruct, .luck{
	position:relative;
	display:inline-block;
	color:#6C7A89;
	line-height:75px;
	text-align:left;

	padding-left:30%;

}
.howTitle{
	/*left:0;*/
	font-size:3em;
	text-decoration:underline;
}
.instruct{
	/*left:0;*/
	font-size:2em;
}
.luck{
	/*left:0;*/
	font-size:2em;
}
.topic{
	position:relative;
	display:inline-block;
	font-size:2em;
	float:left;
	width:300px;
	border:5px solid grey;
	border-radius:5px;
	outline:none;
	color:black;
}
.startHolder{
	position:relative;
	display:block;
	padding:5% 27%;
}
.start{
	position:relative;
	display:inline-block;
	background:grey;
	font-size:2.8em;
	float:right;
	outline:none;
	border-radius:10px;
	border:5px outset darkgrey;

}
.play{
	display:block;
	padding-top:1%;
}
/*squares*/
.squares{
	display:inline-block;
	height:2.5em;
	width:2.5em;
	margin:1%;
	background:#67809F;
	border:8px ridge #59ABE3;
}
.squareHolder{
	position:relative;
	display:inline-block;
	width:100%;
	text-align:center;
	top:3%;
}
.stars{
	height:16%;
	position:relative;
	top:1%;
	text-align:center;
}
.starHold{
	/*border:1px solid red;*/
	position:relative;
	display:inline-block;
	
	height:100%;
	width:10%;
	background-size:contain;
}
.noStar{
	background:url('../nostar.png') no-repeat;
}
.star{
	background:url('../star.png') no-repeat;

}
.gameOver{
position:relative;
display:block;
text-align:center;

}
.prize{
	position:relative;
	display:inline-block;
	height:80%;
	width:60%;
	padding-top: 5%;
	padding-bottom:5%;
	top:2em;
	background:#d2d7d3;
	border:10px ridge #59ABE3;
	vertical-align:middle;
	text-align:center;
}
.prize .superb{
	position:relative;
	display:inline-block;
/*	vertical-align:middle;
*/	border:5px solid darkgrey;
	z-index:2;
/*	margin-top:-100%;
*/
	text-align:center;
	font-size:5em;
	top:-6em;
	background:grey;
	opacity:0.6;
	border-radius:10px;
}
.photo{
	position:relative;
/*	background:url('../can1.png');*/
	height:100%;
	/*background-size:cover;*/

	z-index:1;
}
/*social media and replay button*/
.socrep{
	position:relative;
	display:block;
	top:5%;
	vertical-align:middle;
}
.social{
	display:inline-block;
	position:relative;
	/*left:-10%;*/
	float:left;
	vertical-align:middle;
	left:20%;
}

.social li{
	display:inline-block;
	position:relative;
	margin-right:0.1em;
	vertical-align:middle;
	height:57px;
	width:57px;
	opacity:1.0;

}

.replay{
	display:inline-block;
	font-size:2em;
	position:relative;
	right:23%;
	float:right;
	background:grey;
	vertical-align:middle;
	top:0.8em;
	border-radius:10px;
	outline:none;
	border:5px outset darkgrey;
}
.hides{
	opacity:0.0;
}
.instagram{
	background:url(../icon-set2.png) no-repeat -343px 0px;
}
.facebook{
	background:url(../icon-set2.png) no-repeat -172px 0px;
}
.twitter{
	background:url(../icon-set2.png) no-repeat -285px -57px;
}
.pinterest{
	background:url(../icon-set2.png) no-repeat -57px -57px;

}

@media only screen and (max-device-width:480px){
	/*define mobile specific styles come here*/
/*	width:480px;*/
	font-size:0.5em;
	/*height*/
	/*float*/
	/*margins*/
}