html, body{
	height:100%;
}
header{
	height:20%;
}
section{
	height:80%;
	background:lightblue;
	border:5px solid blue;
}
.title{
	height:100%;
	text-align:center;
	font-size:2em;	
	background:grey;
}
/*social media and replay button*/
.social{
	display:inline-block;
	float:left;
}

.social li{
	display:inline-block;
}

.replay{
	display:inline-block;
	float:right;
}